
.wrapper {
  display: flex;
  background-color: white;
}

.left {
  width: 50%;
  height: 685px;
  position: relative;
}

.nav {
  margin: 15px;
  display: flex;
  align-items: center;
}

.logo {
  width: 50px;
}

.armanent {
  margin-left: 10px;
  color: #5D9C59;
}

.armanent h1 {
  font-weight: normal;
}

.form {
  position: absolute;
  left: 60%;
  top: 30%;
  transform: translate(-50%);
}

.body {
  margin-top: 20px;
}

.login_input {
  margin-top: 10px;
  padding: 4px;
  font-size: 18px;
  border-radius: 10px;
  border: none;
  height: 30px;
  width:250px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.each_input {
  margin-top: 30px ;
}

img {
  object-fit: cover;
  width: 100%;
}

.right {
  width: 50%;
  position: relative;
}

.right img {
  z-index: 0;
}

.error {
  margin-top: 20px;
}

.error h3 {
  font-weight: normal;
}

.button {
  cursor: pointer;
  margin-top: 40px;
  position: relative;
  left: 50%;
  font-size: 1.1rem;
  transform: translate(-50%);
  width: 200px;
  background-color: #DF2E38;
  border: none;
  border-radius: 20px;
  padding: 10px;
  color: white;
}

.message {
  position: absolute;
  top: 38%;
  margin-left: 20px;
  z-index: 1;
  color: white
}

.head  h2 {
  font-size: 1.7rem;
}

.info {
  margin-top: 80px;
}

.info p {
  font-size:18.5px;
}


