.wrapper {
    display: flex;
    justify-content: space-around;
    gap: 800px;
    margin-top: 50px;
}

.button_wrapper button {
    cursor: pointer;
    margin-top: 10px;
    width: 120px;
    font-size: 1.5rem;
    background-color:  #234F1E;
    border: none;
    border-radius: 20px;
    padding: 10px;
    color: white;
}