.Title{
    font-weight: normal;
    margin: 0px;
    padding-left: 88px;
    padding-top: 30px;
    font-size: 1.5rem;
}

.line{
    background-color: rgba(128, 128, 128, 0.646);
    height: 2px;
    opacity: 80%;
    margin-top: 15px;
    width: 1360px;
    margin-left: 88px;
}