.button {
    position: relative;
    left: 85%;
    cursor: pointer;
    height: 40px;
    width: 90px;
    margin-top: 20px;
    color: white;
    border-radius: 10px;
    background-color: #C7E8CA;
    border: none;
    font-size: 1.2rem;
}