@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*,*::before,*::after {
    font-family: 'Bebas Neue', cursive;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F7E1AE;
}