.nav {
    display: flex;
    justify-content: space-between;
    background-color: #5D9C59;
  }

  .left,.right {
    display: flex;
    align-items: center;
  }
  
  .logo {
    width: 50px;
  }
  
  .armanent {
    margin-left: 10px;
    color: #F7D060;
  }

  .title p {
    color: #F7D060;
  }
  
  .armanent h1 {
    font-weight: normal;
  }

  .armanent,.title {
    cursor: default;
  }

  .hamberger {
    cursor: pointer;
  }