.button {
    background-color: #234F1E ; 
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 48px;
    margin: 20px 20px;
    transition-duration: 0.4s;
    cursor: pointer;
    display: block;
    border-radius: 12px;
    width: 600px; 
  height: 80px; 
  }
.button {
    background-color: #234F1E ; 
    color: white; 
    border: 2px solid #64A21D ;
  }
.button:hover {
    background-color: #64A21D ;
    color: yellow ;
  }

  .link {
    text-decoration: none;
  }
